<!DOCTYPE html>
{% extends "sidenav.html" %}
{% load static %}
{% block content %}

<div class = " container-fluid">          
            <div class="row w3-topmiddle">  
                        <div class="col-md-2 " >  
                            </div>
                    <div class="col-md-8 col-sm-12" id = "cvfont" align = "center"; ><br>
                        Guest List Form  <br>
                    </div>    
                    <div class="col-md-2 " >
            
                        </div>   
                                
                </div>
                <div class="row form text-center">
                         
                       
                        <div  class="textbox col-lg-12 col-md-12 col-sm-12 ">
                        <form action="/action_page.php" ><font size = "3">
                                
                                Nama :<br>
                                <input type="text" name="firstname" id= "textbox2";><br>
                                Tanggal:<br>
                                <input type="date" name="Tanggal" id= "textbox2"><br>
                                Alamat Email:<br>
                                <input type="email" name="email" id= "textbox2"><br>
                                Subjek:<br>
                                <input type="text" name="subjek" id= "textbox2" ><br>
                                Message:<br>
                                <textarea rows="4" cols="37" id= "message" name="message" placeholder="Type here.." form="usrform" id= "textbox2" style="height:150">
                                </textarea><br><br>
                                <input type="submit" value= "Submit" width= "20px" height="30px">
                                </font>
                         </form>
                         
                     
                        </div>
                        
                      
                    
                </div>
</div>
            
            
{% endblock %}