<!DOCTYPE html>
{% extends "sidenav.html" %}
{% load static %}
{% block content %}
  
<div class = " container-fluid">
        <div class="row ">   
            <div class="col-md-1 col-sm-2" ></div>
            
            <div class="col-md-10 col-sm-6" id="cvfont" >
                CURICULUM VITAE </div> 
            <div class="col-md-1 col-sm-2" > 
            
         </div>
        </div>
        <br><br><br>
        <div class="row"> 
                <div  class = "col-lg-4 col-md-4 col-xs-5">
                        <img src= "{% static 'exp.png' %}" class= "center2">
                        <br><br>
                        <div>
                                <p class="cv">CRAVIER 2015</p>
                                <p class="cv2">SUPPORTING STAFF</p>
                                <p class="cv">CRAVIER 2016</p>
                                <p class="cv2">CREATIVE STAFF</p>
                                <p class="cv">GATH FASILKOM UI 2017</p>
                                <p class="cv2">DECORATION STAFF</p>
                                <p class="cv">OPEN HOUSE FASILKOM UI 2017</p>
                                <p class="cv2">PUBLIC RELATION STAFF</p>
                                <p class="cv">BEM FASILKOM UI 2018</p>
                                <p class="cv2">ADKESMA STAFF</p>
                                <p class="cv"> COMPUTER GETS TOGETHER 2018</p>
                                <p class="cv2"> DECORATION STAFF</p>
                                <p class="cv">COMPFEST X 2018</p>
                                <p class="cv2">DECORATION AND COSTUME STAFF</p>
                                <p class="cv">PEMIRA FASILKOM UI 2018</p>
                                <p class="cv2">PIC OF PUBLIC RELATION</p>
                                <p class="cv">PMB FASILKOM UI 2018</p>
                                <p class="cv2">STAFF MENTOR</p>
                                <p class="cv">OPEN HOUSE FASILKOM UI 2018</p>
                                <p class="cv2">LIAISON OFFICER STAFF</p>
                           
                                </div>
                                <br><br>
                    
                </div>
                
                <div  class = "col-lg-4 col-md-4 col-xs-5 ">
                        <img src= "{% static 'edu.png' %}" class= "center2">
                        <br><br>
                        <div  >
                    
                                <p class="cv">UNIVERSITAS INDONESIA</p>
                                <p class="cv2">FACULTY COMPUTER SCIENCE 
                                    MAJORING IN INFORMATION SYSTEM (2017- NOW)</p>
                                <p class="cv">SMA LABSCHOOL CIBUBUR</p>
                                <p class="cv2">SENIOR HIGH SCHOOL(2014-2017)</p>
                                <p class="cv">SMP LABSCHOOL CIBUBUR</p>
                                <p class="cv2">JUNIOR HIGH SCHOOL (2011-2014)</p>
                                <p class="cv">SDIT FAJAR HIDAYAH</p>
                                <p class="cv2">ELEMENTARY SCHOOL (2005-2011)</p>
                                
                           
                                </div>
                                <br><br>
                    
                </div>
                
                
                <div  class = "col-lg-4 col-md-4 col-xs-5">
                        <img src= "{% static 'ski.png' %}" class= "center2">
                        <br><br>
                        <div  >
                                <p class="cv">COOKING</p>
                                <p class="cv2">SPECIALITY AT MAKING CREAMY FETTUCINE, HOT &SOUR AND TOMYAM SOUP</p>
                                <p class="cv">CODE</p>
                                <p class="cv2">BEGINNER PROGRAMMER AND WEB DESIGNER</p>
                                <p class="cv">PUBLIC SPEAKING</p>
                                <p class="cv2">SPEAKING AT PUBLIC</p>
                                <p class="cv">LANGUANGE SKILLS</p>
                                <p class="cv2">SPEAK AND READ  ENGLISH FLUENTLY, 
                                        READ KOREAN AND SPEAK A LITTLE</p>
                                <p class="cv">DANCING</p>
                                <p class="cv2">MODERN DANCE
                                        TRADITIONAL DANCE</p>
                                <p class="cv"> EDITING</p>
                                <p class="cv2"> SIMPLE VIDEO EDITING AND DRAWING</p>
                                
                                </div>
                                <br><br>
                </div>
               
               
                
        </div> 
     
        <div class="row">
                <div class= " col-md-12 col-sm-12" >
                        <img class=" img-responsive " src="{% static 'Rectangle.png' %}">
                </div>
            </div>
        </div>
       
            {% endblock %}
    