<!DOCTYPE html>
{% extends "sidenav.html" %}
{% load static %}
{% block content %}

<div class = " container-fluid">

        <br><br><br><br> <br><br><br><br><br> <br><br>
        <div class="row ">    
            <div class="hidden-xs col-lg-2 col-md-3 col-sm" >
                   
            </div>
            
            <div class="col-lg-8 col-md-6 col-sm-12" id = "homepage"  >
                Get To Know Me? <br>
            </div> 
            <div class="col-lg-2 col-md-3 col-sm" >
                    
            </div>
         
        </div>
        <br><br><br>
        <div class=" row "> 
                <div  class = "col-lg-4 col-md-4 col-sm-4"></div>
                <div class = "desc col-lg-4 col-md-4 col-sm-4 gallery2" style= "background-color: #EE9E64;" >
                <a href = "{% url 'mode' %}"> Yes, Absolutely</a></div>
                <div  class = "col-lg-4 col-md-4 col-sm-4 "></div>
                
        </div> 
    </div> 
        {% endblock %}