{% extends "sidenav.html" %}
{% load static %}
{% block content %}

<div >
    <div class = " w3-center">
        <section name = "form">
        
            <h2 id="cvfont" >Register Your Schedule Here</h2>
            <form id="form" method ="POST" action="{% url 'schedule' %}">

                {% csrf_token %}
                {{ form_make.as_p }}
                <br>
                <button type="submit" class= "btn btn-default cv">Save</button><br><br>
                <a href= "{% url 'schedule'%}" class= "cv"> See your schedule here</a>
            </form>
       
        </section>
    </div>
    </div> 
        {% endblock %}