<!DOCTYPE html>
{% extends "sidenav.html" %}
{% load static %}
{% block content %}

<div class = " container-fluid">
       
        <div class="row">    
            <div class=" hidden-xs col-md-1 col-sm-2" > <br> <br> <br> <br></div>
           
            <div class = " col-md-10 col-sm-8 "id = "fontMode" align = "center" >
                <br> HELLO! <br> PLEASE SELECT YOUR MODE<br> </div> 
            <div class="col-md-1 col-sm-2" >
            </div>
            </div>
            
            <div class = "row ">
                    <div class="hidden-xs col-lg-2 col-md-2 col-sm-1" > <br> <br> </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 " >
                        <a href= "{% url 'personal' %}">
                        <img src= "{% static 'Group.png' %}" class = "  center modepic  img-responsive  " ></a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-5 " >
                        <a href= "{% url 'business' %}">
                        <img src="{% static 'Group 2.png' %}" class = " center modepic img-responsive "></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-1" ></div>
                   
                </div>
            </div>
       
                {% endblock %}
   