<!DOCTYPE html>
{% extends "sidenav.html" %}
{% load static %}
{% block content %}

<div class = " container-fluid">
    
        <div class="row">
                <div class="img-responsive col-md-4 col-sm-8">
                    <a href="{% url 'mode' %}">
                       <img  src="{% static 'Group 5.png' %}" ></a>
                       </div>
                       
                <div class=" col-md-12 col-sm-4" >

                </div>
           
                </div>
                <div class="row "><br><br> <br>
                        <div class="col-md-4 col-sm-4 " ></div>
                        <div class = "col-md-4 col-sm-8  ">
                        <img  class = "my-auto Mode img-responsive rounded float-left" src="{% static "Group 6.png" %}"></div><br><br><br>
                        
                </div>
            
                <br><br><br>      
                  
        <div class= "row">
               
            <div class="name col-md-12 col-sm-12 overlay"><b>Nadhira Shafa Thalia</b></div>
            </div>
        <div class= "row">
            <div class="name col-md-12 col-sm-12 overlay">Jakarta, November 12, 1999 </div><br><br>
            </div>
             
        <div class = "desc row" > 
            <article  class = "col-md-12 col-sm-12">You may know me as ‘dhira’ but i also have my <br>  childhood nickname called ‘tata’.  </article><br><br>
            <article  class = "col-md-12 col-sm-12"> I’m an only child who lives and grew up in Cibubur, i <br> like being in a crowd instead of being alone. </article>  <br><br>
            <article  class = "col-md-12 col-sm-12"> I like movies, music, and is struggling to do anykind of <br> sports because i’m barely do it.    </article>  <br><br><br><br>
    </div>

    <br><br><br> <br><br><br>
        <div class="row">
                <div class= " col-md-12 col-sm-12" >
                        <img class=" img-responsive " src="{% static 'Rectangle.png' %}">
                </div>
            </div>
        </div>
 
{% endblock %}