<!DOCTYPE html>
{% extends "sidenav.html" %}
{% load static %}
{% block content %}

<div class = " container-fluid">
        <div class="row">
                <div class="img-responsive col-md-4 col-sm-12">
                    <a href="{% url 'mode' %}"><img src="{% static 'Group 4.png' %}"></a>
                       </div>
                 
                <div class="col-md-8 col-sm"  >
                        
                </div>
                    </div>
                       
                    <div class="row ">
                            <div class="col-md-4 col-sm" ></div>
                            <div class = "col-md-4 col-sm-12  my-auto  ">
                            <img  class = "Mode img-responsive rounded float-left" src="{% static 'Group 6.png' %}"></div>
                            <div class="col-md-3 col-sm" ></div>
                    </div>
                
                    <br><br>
                          
                                  
                        <div class= "row">
                               <div class="name col-md-12 col-sm-12 "><b>Nadhira Shafa Thalia</b></div>
                                </div>
                              
                        <div class= "row">
                                <div class="name col-md-12 col-sm-12 ">Jakarta, November 12, 1999 </div><br><br><br>
                            </div>
                
                        <div class = "row" >
                            <article class = " contact col-md-12 col-sm-12 "><u>CONTACT ME THROUGH </u></article> <br><br><br>
                            </div>
                        <div class="row  ">
                            <div  class = " contact col-md-3 col-sm"></div>
                            <div  class = "img-responsive contact col-md-3 col-sm-6"><img src= "{% static 'email.png' %}" > EMAIL: <br> Nadhirashf@gmail.com </div>
                            <div  class = "img-responsive contact col-md-3 col-sm-6"><img src= "{% static 'instagram.png'%}" > INSTAGRAM: <br>  @Nadhirathalia  </div> 
                            <div  class = " contact col-md-3 col-sm"></div>
                            </div>
                        <div class="row">
                            <div  class = " contact col-md-3 col-sm"></div>
                            <div  class = "img-responsive contact col-md-3 col-sm-6"><img src= "{% static 'line.png' %}" >  LINE: <br> @Nadhirashafa </div> 
                            <div  class = "img-responsive contact col-md-3 col-sm-6 "><img src= "{% static 'twitter.png' %}" > TWITTER: <br>  @Nadhirashf_  </div> 
                            <div  class = " contact col-md-3 col-sm"></div>
                           </div>
                    </div>
                    <br><br>
                
                    <br><br>
                    <div class="row">
                            <div class="img-responsive col-md-12" >
                                    <img class=" img-responsive  " src="{% static 'Rectangle.png' %}">
                            </div>
                        </div>      

                    </div>
                        {% endblock %}

