{% extends "sidenav.html" %}
{% load static %}
{% block content %}


<div class = "">
        <div class = " w3-center">
           
                    <div class = "cv" >
                       
                        <table style= "width:100%"> 
                            
                            {% if schedules %}
                            <h1 id="cvfont"> Here's Your Schedule</h1>
                           
                               <tr>
                                <th><b>DAY</b></th>
                                <th> <b>DATE</b> </th>
                                <th> <b>TIME</b> </th>
                                <th> <b>EVENT NAME</b>  </th>
                                <th> <b>PLACE</b> </th>
                                <th> <b>CATEGORY</b></th>
                            </tr>
                           
                            {% for schedule in schedules %}
                            <tr>
                                    <th> {{ schedule.event_day }} </th>
                                    <th> {{ schedule.event_date }} </th>
                                    <th> {{ schedule.event_time }} </th>
                                    <th> {{ schedule.event_name}} </th>
                                    <th> {{ schedule.event_place }} </th>
                                    <th> {{ schedule.event_category}} </th>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <h3 class= "cv"> 
                                There's no registered event
                            </h3>
                            {% endif %}
                        </table>
                        <br>
                        <a href = "{% url 'makeschedule' %}" class= "cv" > Register your event</a> 
              </div>
              <div>
                  <form action = " {% url 'delete'%}">
                      <a href= "{% url 'delete' %}" class= "cv"> Delete All Event</a>
                  </form>
              </div>

          
            
            
        </div>
            
</div> 
            {% endblock %}