<!DOCTYPE html>
{% load static %}


<html>

<head>
    <title>Dhira's Profile </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="forWebsite.css">
    <link rel="stylesheet" type="text/css" href="{% static 'StyleCSS.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
 
</head>
<body class="body" >
            <div class="col-md-12" >
                    <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="{% url 'home' %}"class = " fontDesc">Home</a>
                            <a href="{% url 'mode' %}" class="fontDesc">Select Mode</a>
                            <a href="{% url 'personal' %}" class="fontDesc">Personal Mode</a>
                            <a href="{% url 'business' %}" class="fontDesc">Business Mode</a>
                            <a href="{% url 'cv' %}" class="fontDesc">My CV</a>
                            <a href="{% url 'book' %}" class="fontDesc">Guest Book</a>
                            <a href="{% url 'makeschedule' %}" class="fontDesc">Make Schedule</a>
                        </div>
                        <div id="tab">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                        </div>
                        <script>
                                function openNav() {
                                    document.getElementById("mySidenav").style.width = "250px";
                                }
                                function closeNav() {
                                    document.getElementById("mySidenav").style.width = "0";
                                }
                        </script>
                        {% block content %}
                        {% endblock %}

            </div>
    
</body>
</html>