.bg{
    background-color: #E1F0C4;
}
.button{
    font-size:16px;
    font-family:"Montserrat";
    color:  #F0FFCE;
    border-radius: 2em;

}
.header{
    text-align: right;
    font-size: 50px; 
    padding-top: 50px; 
    margin-bottom:-1vh;
    font-family: 'Montserrat';
}
.header2{
    text-align: right;
    font-size: 40px; 
    margin-bottom:-1vh;
    font-family: 'Montserrat';
}
.title{
    text-align: left;
    font-size: 16px; 
    font-family: 'Montserrat';
}
.title2{
    font-size: 16px; 
    font-family: 'Montserrat';
}
.title3{
    text-align: left;
    font-size: 34px; 
    margin-left:8vh;
    font-family: 'Montserrat';
    
}
.bg2 {
    border-radius: 10px;
    background: #F0FFCE;
    margin-top:17px;
    margin-bottom:17px;    
}
.photo{
    width: 28px;
}
.button{
    font-size:16px;
    font-family:"Montserrat";
    background-color:  #ffffff;
    color: #000000;
    border-radius: 2em;
    border-color:#E1F0C4 

}