body {
	background-color: #F7Edf0;

} 

.h1{
	font-family: "Montserrat";
	color: #F4ACB7;
	font-size: 45px;
	font-weight: 900;
	text-align : center;
}
.h2{
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.h3{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    color: #F4ACB7;

}
.textbox {
    resize: both;
    overflow: auto;
    background-color: #F4ACB7;
}
.medium-btn {
        width: 50%;
        height: 50%;
    
    }
.backgrounds {
		/* border-radius: 10px;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
		margin-top:17px;
		margin-bottom:17px; */
		background-color: lightgrey;
		width: 300px;
		border: 25px solid green;
		padding: 25px;
		margin: 25px;
		
	}
	
#theme-button{
	font-size:16px;
	font-family:"Montserrat";

}
#button{
	font-size:16px;
	font-family:"Montserrat";

}
.accordion {
	max-width: 400px;
	background-color: #F4ACB7;
	margin: 0 auto;
}

.accordion-header {
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
}

.accordion-header:hover {
	background: #ffffff;
}

.accordion-content {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F7Edf0;
	padding: 1.5rem;
	color: #4a5666;
}
input[type=email], select, textarea {
    width: 90%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
 
input[type=password], select, textarea {
    width: 90%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=text], select, textarea {
    width: 90%;
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
}

