{% load static %}
<!DOCTYPE html>


<html>
        <head>
                <meta charset="UTF-8">
                <title id = "id_title">My Profile</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
                <link rel = "stylesheet" type = "text/css" href = "{% static 'WebCSS.css' %}">
                <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
                <script type = "text/javascript" src = "{% static 'myJavascript.js' %}" ></script>
            </head>
    
    <body onload="myFunction()" style="margin:0;">
          
    
<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">


        <div class = " w3-center">
                <h2 class = "h1">Nice to meet you!</h2>
                <img class = "w3-center" id = "photo" src = "https://i.pinimg.com/564x/20/05/dc/2005dc725fce5730f5e99fa3f2260784.jpg"  align = "center" style = "width: 500px; height:400px;"> <br><br>
                        <div class= "w3-center h2">
                              <b>Nadhira Shafa Thalia</b>
                                </div>
                              
                        <div class= "w3-center h2">
                                <div >Jakarta, November 12, 1999 </div><br><br><br>
                            </div>
                        <div class = "w3-center h2" > 

                                <div class="accordion">
                                        <h3 class="accordion-header">My Facts</h3>
                                        <div class = "accordion-content">
                                                <article  >You can call me dhira, I'm a student at Fasilkom Universitas Indonesia  </article><br>
                                                <article  >I like movies, music, and is struggling to do anykind of sports because i’m barely do it.    </article>  <br>
                                            
                                        </div>
                                    
                                        <h3  class="accordion-header">My Activities</h3>
                                        <div class = "accordion-content">
                                                <article  > Everyday i go to Fasilkom to complete my study at Universitas Indonesia </article><br>
                                                <article  > Besides studying, i also have another activities like attending commitee meetings and doing my homework and back to studying again. </article> <br>
                                                <article> So boring right? i know.</article> <br>
                                        </div>
                                            <h3  class="accordion-header" >My Experience</h3>
                                        <div class = "accordion-content">
                                                <article >I have my primary education at SDIT Fajar Hidayah, then continuing my education in Labschool Cibubur for junior and senior high school</article><br>
                                              
                                            
                                                <article  >I have experience in creative division, i was part of decoration or creative division in several event</article><br>
                                                <article  > Also in public relation area. Currently i'm in charge of public relation in one of commitee in Fasilkom   </article>  <br>
                                            
                                        </div>
                                    </div>
                
                                  
                                    <br><br>
                                    
                                    <a href = "{% url 'hello' %}"><button class= "button"style = "font-size:16px" class ="w3-center" type="submit" value= "Submit" action = "{% url 'hello' %}">Share your story!</button></a>
                                    <br><br>

                                    <button  class= "button" id = "theme-button" onclick="AddButtonClick()"  >Make it blue!</button><br><br>
                
                         
                            </div>
                            
        

                    </div>
                    </div>
                    
                    
</body>

<script>
        var myVar;
        
        function myFunction() {
            myVar = setTimeout(showPage, 3000);
        }
        
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
        </script>

</html>