{% load static %}
<!DOCTYPE html>

<html>
<head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>
    <script type = "text/javascript" src = "{% static 'myJavascript.js' %}" ></script>
    <meta charset="UTF-8">
    <title id = "title">Greetings!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel = "stylesheet"  type = "text/css" href = "{% static 'WebCSS.css' %}" >
</head>

<body class = "container-fluid" onload="myFunction()" style="margin:0;"> 
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class = "h1 row">
                <div class = "col-md-2 "></div>
                <div class = "col-md-8 col-sm-12" >
                    Hello! <br> How are you today?
                </div>
                <div class = "col-md-2"></div>
                
        </div>
        <div class = "h2 w3-center">
            <form action ="" method="POST">
                    {% csrf_token %}
                    {% for stats in make_status %}
                    <h3>{{ stats.label_tag }} <br> {{ stats }}</h3>
                    {% endfor %}
                
            
                    <div class = "row">
                        <div class = "col-md-2 "></div>
                        <div class = " col-md-8 col-sm-12">
                            <button type="submit" id ="submit button" value= "Submit" action = "{% url 'hello' %}">Share</button>
                        </div>
                        <div class = "col-md-2"></div>
                            
                    </div>
            
            </form>
        </div>

        <div class = "h2 w3-center">
                <table style= "width:100%"> 
                        <a href = "{% url 'profile' %}"><button type="submit" class= "button" id= "button" value= "Submit" action = "{% url 'profile' %}">My Profile</button></a><br><br>
                        <div class="loader"></div>
                        
                        <button class= "button" id = "theme-button" >Make it blue!</button>
                        
                                    
                {% if allMessage %}
                <tr>
                    <th><h3 class = "h3">Your Status:</h3></th>
                    <th><h3 class = "h3">Submitted Time:</h3></th>
                </tr>
            
                {% for result in allMessage %}
                <tr>
                    <th> {{ result.message }} </th>
                    <th> {{ result.time }} </th>
                </tr>
                
                {% endfor %}
                {% else %}
                <br><br><br><br>
                <h3 class= "h3 w3-center"> 
                    You haven't shared anything with us 
                </h3>
                {% endif %}

         


            </div>
    </div>
   
</body>
<script>
        var myVar;
        
        function myFunction() {
            myVar = setTimeout(showPage, 3000);
        }
        
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
 
        </script>

</html>
