.body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size:cover;
    } 

    #homepage {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 900;
    color:#EE9E64;
    text-align: center;
    text-shadow: 2px 2px 6px #808080;
}
#cvfont{
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 200;
    color:black;
    text-align: center;
   
}
#cvfont2{
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: 200;
    color:black;
    text-align: center;
   
}
.cv{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
}
.cv2{
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;

}

    #fontMode {
    font-family: 'Montserrat';
    height: 270px;
    width: 780px;
    font-size: 50px;
    font-weight: bold;
    color:#EE9E64;
    text-shadow: 2px 2px 4px #808080;
}
@media screen and (min-width: 701px) {
    #fontMode {
    font-size: 50px;
    }
}

@media screen and (max-width: 700px) {
    #fontMode {
    font-size: 32px;
    }
}
    #box1 {
    height: 40px;
    width: 260px;
    font-family: 'Montserrat';
  
    }
    .bgNav{
        font-family: 'Montserrat';
        background-color:#EE9E64; 
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
    }
    .center2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        
    }
    #fontDesc{
        font-family: 'Montserrat';
        font-size: 29px;
        font-weight: bold;
        color:black;
    
    }
    #fontDesc{
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: Medium;
        color:black;
    
    }
    #fontBuku{
        font-family: 'Montserrat';
        font-size: 55px;
        font-weight: 400;
        color:#EE9E64;
    
    }

    .Mode{
        /* z-index:3;
        margin-left: 70px;
        margin-right: 70px; */
        max-width:100%;
     min-width: 50%;
     max-height: 100%;
     min-height:50%;

      
    }
    .textbox{
        background-color: #EE9E64;
        font-size: 20px;
    } 
    #textbox2{
        background-color: #ffffff;
        font-size: 20px;
    } 
    #Mode2{
        
        margin-left: 70px;
        margin-right: 70px;
        
    }
    .overlay{
        position: absolute;
        top: 50%;
        left:50%;
        right:50%;
        transform: translate(-50%,-50%)

    }
    #square{
        width: 300px;
        padding: 25px;
        margin: 25px;
        background-color: #EE9E64
    }
    .a1{
    height: 540px;
    width: 780px;

    }

     .urlImg {
            width: 275px;
            height:275px;
            margin-left: 70px;
            margin-right: 70px;
        
            display:block;
            background-image: url("Group.png");
        }
        .urlImg:hover {
            width: 400px;
            height:300px;
        background-image: url("Personal Detail.png");
        background-size: 100% 100%;
            
        }
        .urlImg2 {
            width: 275px;
            height:275px;
            margin-left: 70px;
            margin-right: 70px;
        
            display:block;
            background-image: url("Group 2.png");
            
        }
        .urlImg2:hover {
            width: 400px;
            height:300px;
            
        background-image: url("Business detail.png");
        background-size: 100% 100%;
        }
        .flex-container {
        display: flex;
        justify-content: center;
    
        } 
        .desc{
            font-family: 'Montserrat';
                font-size: 14px;
                font-weight: reguler;
                color:black;
                text-align: center;
               
        }
        .modepic{
            max-width:100%;
            max-height:100%;
            /* min-width:50% ;
            min-height: 80%; */
            
        }
    
     .name{
            font-family: 'Montserrat';
                font-size: 18px;
                text-align: center;
                position:absolute;
                color:black;
               
        }
        .photo{
            position:absolute;
                top: 25px;
                left: 25px;
                z-index: 2;
        }
        .photo1{
            position:absolute;
                top: 100px;
                left: 100px;
                z-index: 4;
        
        }
        .mid{
            z-index:1;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height:70%;


        
        }
        .bottom{
        width:400px; 
        height:50px; 
        background-position: center bottom;
            

        }
        .gallery{
            background-color: #EE9E64;
            font-size: 16px;
            text-align: center;
            
        }
        
        .gallery2{
            background-color: #EE9E64;
            font-size: 20px;
            text-align: center;
            
        }
        #back{
            font-size: 16px;
            background-color: #EE9E64;
        }
        .text-block {
            position: absolute;
           
}
.contact{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
  

}
#tab {
    margin-left: 95%;
   
    /* left: 90%;
    top:2%; */
  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    font-family: 'Montserrat';
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EE9E64;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 170px;
}
.form{
margin-left: auto;
margin-right: auto;
}
.sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
   
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #EE9E64;
    background-color: #FFF0C3;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
}
/* 
} */
.img-fluid{

 max-width: 100%; 
  height: auto;
}
input[type=email], select, textarea {
    font-family: 'Montserrat';
    width: 90%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
 
input[type=password], select, textarea {
    width: 90%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=text], select, textarea {
    width: 90%;
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
}
