.bg{
    background-color: #E1F0C4;
}
.button{
    font-size:16px;
    font-family:"Montserrat";
    color:  #F0FFCE;
    border-radius: 2em;

}
.header{
    text-align: right;
    font-size: 50px; 
    padding-top: 50px; 
    margin-bottom:-1vh;
    font-family: 'Montserrat';
}
.header2{
    text-align: right;
    font-size: 40px; 
    margin-bottom:-1vh;
    font-family: 'Montserrat';
}
.header3{
    text-align: center;
    font-size: 30px; 
    margin-bottom:-1vh;

    font-family: 'Montserrat';
}
@media screen and (min-width: 701px) {
    .header3 {
    font-size: 50px;
    margin-left: 0px;

    }
}

@media screen and (max-width: 700px) {
    .header3 {
    font-size: 30px;
    margin-left: 0px;
    }
}
.backgrounds {
		background-color: rgb(243, 242, 166);
		width: 200px;
        border: 25px ;
        border-color:  #000000;
		padding: 25px;
		margin: 25px;
		
	}
.title{
    text-align: left;
    font-size: 16px; 
    font-family: 'Montserrat';
}
.title2{
    font-size: 16px; 
    font-family: 'Montserrat';
}
.title3{
    text-align: left;
    font-size: 34px; 
    margin-left:8vh;
    font-family: 'Montserrat';
    
}
.bg2 {
    border-radius: 10px;
    background: #F0FFCE;
    margin-top:17px;
    margin-bottom:17px;    
}
.photo{
    width: 28px;
}
.button{
    font-size:16px;
    font-family:"Montserrat";
    background-color:  #ffffff;
    color: #000000;
    border-radius: 2em;
    border-color:#000000

}
.buttons{
    font-size:16px;
    font-family:"Montserrat";
    background-color:  #ffffff;
    color: #000000;
    border-radius: 2em;
    border-color:#000000;
    margin-left:45%;

}

.latar{
    background:  #F0FFCE;
    font-family: "Montserrat";
    font-size:80px;
}
.login{
    text-align: center;
    margin-left: 40%;
    font-size: 25px;
}
#fonts{
    font-family: "Montserrat";
    font-size:25px;
}
@media screen and (min-width: 701px) {
    .login {
    font-size: 30px;
    margin-left: 38%
    }
}

@media screen and (max-width: 700px) {
    .login {
    font-size: 20px;
    margin-left: 24%
    }
}