body {
	background-color: #F7Edf0;

} 

.h1{
	font-family: "Montserrat";
	color: #F4ACB7;
	font-size: 45px;
	font-weight: 900;
	text-align : center;
}
.teks{
	font-family: "Montserrat";
	color: #F4ACB7;
	font-size: 30px;
	font-weight: 900;
	text-align : center;
}
.h2{
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	margin-left: 25%;
}
.btn-danger {
    color: #fff;
    background-color: #F4ACB7;
	border-color: #F4ACB7;
	border-radius: 30px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.h3{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    color: #F4ACB7;

}
.textbox {
    resize: both;
    overflow: auto;
    background-color: #F4ACB7;
}
.medium-btn {
        width: 50%;
        height: 50%;
    
	}
.tab4{
		margin-left:  15px; 
		position: center;
		
		
	}
#email,  #name, #password{
		border-radius:10px;
	}

	#dialog{
		border-radius:10px;
	}
	#waitUp{
		margin-top: 20px;
		text-align: center;
		font-size: 20px;
	}
	
.backgrounds {
		border-radius: 10px;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
		margin-top:10%;
		margin-left: 25%;
		width: 50%;

	}
	
	.backgrounds2 {
		border-radius: 10px;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
		margin-top:10%;
		margin-left: 10%;
		width: 80%;

	}
	
#theme-button{
	font-size:16px;
	font-family:"Montserrat";

}
#button{
	font-size:16px;
	font-family:"Montserrat";

}
.accordion {
	max-width: 400px;
	background-color: #F4ACB7;
	margin: 0 auto;
}

.accordion-header {
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
}

.accordion-header:hover {
	background: #ffffff;
}

.accordion-content {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F7Edf0;
	padding: 1.5rem;
	color: #4a5666;
}
input[type=email], select, textarea {
    width: 65%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical ;
	position:central;
}
 
input[type=password], select, textarea {
    width: 65%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
	position:central;
}
input[type=text], select, textarea {
    width: 65%;
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
	margin-bottom: 16px;
	
	resize: vertical; 
	position:central;
}

input[type=submit] {
	font-family:'Montserrat';
	font-size: 16px;
	background-color: #F4ACB7;
	color: #ffffff;
	border: 1px solid #F4ACB7;
	margin-top: 13px;  
	padding: 12px 25px;
	border-radius: 30px;
	cursor: pointer;
	padding: 6px 50px;
	margin-top: 2rem;
}

input[type=submit]:hover {
	font-size: 16px;
	font-family:'Montserrat';
	background-color: #ffffff;
	color: #F4ACB7;
   
}
.validate-input {
    position: relative;
}

.alert-validate2::before {
    content: attr(data-validate2) !important;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
