input[type=email], select, textarea {
    width: 65%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical ;
	position:central;
}
 
input[type=password], select, textarea {
    width: 65%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
	position:central;
}
input[type=text], select, textarea {
    width: 65%;
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    margin-top: 6px; 
	margin-bottom: 16px;
	
	resize: vertical; 
	position:central;
}

input[type=submit] {
	font-family:'Montserrat';
	font-size: 16px;
	background-color: #F4ACB7;
	color: #ffffff;
	border: 1px solid #F4ACB7;
	margin-top: 13px; 
	margin-left: 30%;  
	padding: 12px 25px;
	border-radius: 30px;
	cursor: pointer;
	padding: 6px 50px;
	margin-top: 2rem;
}

input[type=submit]:hover {
	font-size: 16px;
	font-family:'Montserrat';
	background-color: #ffffff;
	color: #F4ACB7;
   
}
.validate-input {
    position: relative;
}

.alert-validate2::before {
    content: attr(data-validate2) !important;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.subscribe-image {
    width: 50%;
    overflow: hidden;
}
