{% load static %}
<!DOCTYPE html>


<html>
        <head>
                <meta charset="UTF-8">
                <title id = "id_title">Subscribe Me</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">            
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
                <link rel = "stylesheet" type = "text/css" href = "{% static 'WebCSS.css' %}">
                <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
                <script type = "text/javascript" src = "{% static 'lab10.js' %}" ></script>
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
               

                <link rel = "stylesheet" type = "text/css" href = "{% static 'WebCSS.css' %}">

            </head>
    
    <body >
             <div class = " w3-center backgrounds " id="fill"><br>
                    <p class = "h1 ">Halo.</p>
                    
                     <form class="form_input" method="POST" class="isi">
                
                                    {% csrf_token %}
                                    <div class="validate-input" data-validate="Name is required">
                                        {{ form.name.label_tag }}<br>
                                        {{ form.name }}
                                    </div>
                                    <div class="validate-input" data-validate="Valid email is required"
                                        data-validate2="Email already registered">
                                        {{ form.email.label_tag }}<br>
                                        {{ form.email }}
                                    </div>
                                    <div class="validate-input" data-validate="Password is required">
                                        {{ form.password.label_tag }}<br>
                                        {{ form.password }}
                                    </div>
                                    <input disabled=true class="submit" id="submit_subscribe" type="submit" value="Register">
                                    
                                    <br><br>
                                </form>
                     
                    </div>
                    <div class="col-sm-12">
                            
                                    <div class="row">
                                        <div class="col-sm-12  backgrounds2"><br><br>
                                            <p class=" teks">Join these people!</p>
                                            <div class="table-responsive">
                                                <div class="unsubBerhasil">Unsubscribing Success</div>
                                                <table id="demo" class="table" style="font-size: 15px;">
                                                    <thead>
                                                        <tr class="table text-center">
                                                            <th scope="col" class="align-middle text-center">No</th>
                                                            <th scope="col" class="align-middle text-center">Name</th>
                                                            <th scope="col" class="align-middle text-center">Email</th>
                                                            <th scope="col" class="align-middle text-center">Unsubscribe</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div><br><br>
                                    </div>
                                    <br><br>
                            
                        </div>
                    </div>
                </div>
            
           
    </body>

</html>
