{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>Best Seller</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_9.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <div class="bg container-fluid h-100 w3-center">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="bg col-sm-11">   
                {% block content %}
                    {% if user.is_authenticated %}
                    <a class="lead" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
                    <br><br>
                    <p class=" header3">Hello, <i>{{ user.username }}</i></p>
                    
	                {% else %}
                    <a class="lead" href="{% url 'login' %}">Login with Google</a>
	                {% endif %}
                {% endblock content %}
                <div class="header"> Top 10</div>
                <div class="header2">Best Seller Books</div>
                <div class="text-left">
                    <br><br>
                    <img class = "photo"src="https://image.flaticon.com/icons/svg/148/148841.svg">
                        <text class = "title ">My Favorites:</text><br>
                        <text class = "title3 " id="total">0</text>
                </div>
                        <button class ="button" id = "cat1">Quilting</button>
                        <button class ="button" id = "cat2">Design</button>
                        <button class ="button" id = "cat3">Comic</button>
                <div class="bg2">
                        
                    <div>
                        <div class="table-responsive ">
                            <table id="demo" class="table title2 text-center" >
                                <thead >
                                    <tr class="title2 table text-center ">
                                        <th scope="col" class="align-middle" style='background-color: #FFFFFF'>No.</th>
                                        <th scope="col" class="align-middle"style='background-color: #F0FFCE'>Cover</th>
                                        <th scope="col" class="align-middle" style='background-color: #FFFFFF'>Title</th>
                                        <th scope="col" class="align-middle"style='background-color: #F0FFCE'>Authors</th>
                                        <th scope="col" class="align-middle"style='background-color: #FFFFFF'>Publisher</th>
                                        <th scope="col" class="align-middle"style='background-color: #F0FFCE'>Number of Page</th>
                                        <th scope="col" class="align-middle"style='background-color: #FFFFFF'>Add to Favorites</th>
                                    </tr>
                                </thead>
                            </table>
                            <script src="{% static 'lab_9.js' %}"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
